* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

div {
    text-align: center;
}

h3, h4, ul, p {
    text-align: left;
}

iframe {
    width: 100%;
    height: 1000px;
}

form {
    display: grid;
    grid-template-columns: 1fr 3fr auto;
    grid-gap: 20px;
}

label {
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
}

.message {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
    /*overflow-wrap: break-word;*/
    height: 200px;
    resize: none;
}

.required {
    grid-column: 3 / 4;
    color: red;
    font-size: larger;
    font-weight: bolder;
    margin-left: -20px;
}

.validation {
    text-align: center;
    grid-row: 8 / 9;
    grid-column: 1 / 3;
    color: red;
    font-size: medium;
    font-weight: bolder;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}
  
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    float: left;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown:hover .dropbtn {
    background-color: #f2f2f2;
    color: black;
    width: 100%;
}

.header h1 {
    font-size: 50px;
}

/* Left column */
.leftcolumn {   
    float: left;
    left: 0;
    width: 25%;
    padding-right: 20px;
}

.middlecolumn {
    float: left;
    width: 50%;
    background-color: #f1f1f1;
}
  
  /* Right column */
.rightcolumn {
    float: left;
    right: 0;
    width: 25%;
    padding-left: 20px;
}

.fullcolumn {
    float: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.box {
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding: 20px;
    height: auto;
    margin-top: 20px;
}

.clearbox {
    background-color: none;
    padding: 20px;
    height: 100%;
    margin-top: 20px;
}

.box a, .box a:hover, .box a:active, .box a:visited {
    text-decoration: none;
    color:#333;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.image {
    background-color: #aaa;
    height: auto;
    width: clamp(50%, 50%, 100%);
    padding: 20px;
}

.footer {
    padding: 5px;
    text-align: left;
    background: #ddd;
    margin-top: 20px;
    display: block;
    position: relative;
    /*
    left: 0;
    right: 0;
    bottom: 0;
    */
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .middlecolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .box, .clearbox {
        margin-top: 0px;
    }
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a, .dropdown {
        float: center;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .dropdown-content {
        width: 354px;
    }
    iframe {
        width: 100%;
        height: 800px;
    }
}