* {
    box-sizing: border-box;
}

div {
    text-align: center;
}

h3, h4, ul, p {
    text-align: left;
}

iframe {
    width: 100%;
    height: 1000px;
}

form {
    display: grid;
    grid-template-columns: 1fr 3fr auto;
    grid-gap: 20px;
}

label {
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
}

.message {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
    /*overflow-wrap: break-word;*/
    height: 200px;
    resize: none;
}

.required {
    grid-column: 3 / 4;
    color: red;
    font-size: larger;
    font-weight: bolder;
    margin-left: -20px;
}

.validation {
    text-align: center;
    grid-row: 8 / 9;
    grid-column: 1 / 3;
    color: red;
    font-size: medium;
    font-weight: bolder;
}

body {
    font-family: Arial;
    /*background: #f1f1f1; */
    padding: 0px;
    margin: 0px;
    background: linear-gradient(135deg, rgba(0,0,0,1) 10%, rgba(128,128,128,1) 30%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 70%, rgba(128,128,128,1) 90%);
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background-size: 400% 400%;
	animation: gradient 10s linear infinite running;
	height: 100vh;
}
/*
Pastel Rainbow Gradient
background: linear-gradient(135deg, rgba(255,128,128,1) 10%, rgba(128,255,128,1) 30%, rgba(128,128,255,1) 50%, rgba(255,128,128,1) 70%, rgba(128,255,128,1) 90%);
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

Black - White Gradient
background: rgb(0,0,0);
background: linear-gradient(135deg, rgba(0,0,0,1) 10%, rgba(128,128,128,1) 30%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 70%, rgba(0,0,0,1) 90%);
*/

@keyframes gradient {
	0% {
		background-position: 10% 10%;
	}
    100% {
        background-position: 90% 90%;
    }
}

.header {
    margin: 20px 20px 0px 20px;
    padding: 20px;
    text-align: center;
    background-color: #aaa;
    /*
    background: linear-gradient(90deg, rgba(255,0,0,1) 16.667%, rgba(0,255,0,1) 50%, rgba(0,0,255,1) 83.333%);
    */
}

.inheader h1 {
    font-size: 50px;
    /*
    color: transparent;
    background: linear-gradient(135deg, rgba(255,128,128,1) 10%, rgba(128,255,128,1) 30%, rgba(128,128,255,1) 50%, rgba(255,128,128,1) 70%, rgba(128,255,128,1) 90%);
	//background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5.55s linear infinite running;
    -webkit-background-clip: text;
    background-clip: text;
    */
}

.inheader {
    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 0px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    margin: 20px 20px 0px 20px;
}
  
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    float: left;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown:hover .dropbtn {
    background-color: #f2f2f2;
    color: black;
    width: 100%;
}

.header h1 {
    font-size: 50px;
}

.leftcolumn {   
    float: left;
    left: 0;
    width: 25%;
    padding-right: 20px;
    margin-left: 20px;
}

.middlecolumn {
    width: calc(50% - 40px);
    margin: 20px 0px 20px 0px;
    float: left;
    background-color: #f1f1f1;
}

.rightcolumn {
    float: left;
    right: 0;
    width: 25%;
    padding-left: 20px;
}

.box {
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding: 20px;
    min-height: 500px;
    margin-top: 20px;
}

.clearbox {
    background-color: none;
    padding: 20px;
    height: 100%;
    margin-top: 20px;
}

.box a, .box a:hover, .box a:active, .box a:visited, .footer a {
    text-decoration: none;
    color:#333;
}

.row {
    height: fit-content;
    padding: 0px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.image {
    background-color: #aaa;
    height: auto;
    width: clamp(300px, 50%, 100%);
    padding: 20px;
}

.footer {
    padding: 0px 20px 0px 20px;
    text-align: center;
    background: #ddd;
    margin: 0px 0px 0px 0px;
    display: block;
    position: relative;
    height: 20;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer span a {
    text-align: center;
    font-size: clamp(24px, 30px, 40px);
}


/* Resume */
@media screen and (max-width: 2000px) {
    .sideView {
        width: 12.5%;
        padding: 0;
    }
    .bigView {
        width: calc(75% - 40px);
        margin: 20px 20px 0px 20px;
    }
}

/* Resume */
@media screen and (max-width: 1000px) {
    .sideView {
        width: 100%;
        height: 0px;
        margin: 0px;
        padding: 0px;
    }
    .bigView, .middlecolumn {
        width: calc(100% - 40px);
        margin: 20px 20px 0px 20px;
    }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
    
    .leftcolumn .clearbox, .rightcolumn .clearbox {
        height: 0px;
        margin: 0px 20px 0px 20px;
        padding: 0px;
    }
    
    .middlecolumn {
        width: calc(100% - 40px);
        margin: 20px 20px 0px 20px;
    }
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a, .dropdown {
        float: center;
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .dropdown-content {
        width: 354px;
    }
    iframe {
        width: 100%;
        height: 800px;
    }
}